.navbar a.brand {
  padding-left: 50px !important;
  background-image: url('/img/be_stripes.png');
  background-repeat: no-repeat;
  background-position: left top;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}

article {
  margin-bottom: 20px;
}
